{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load blog_tags %}
{% block content %}

  <main id="main">

    <!-- ======= Blog Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Blog</h2>

          <ol>
            <li><a href="{% url 'website:index' %}">Home</a></li>
            <li><a href="{% url 'blog:blog' %}">Blog</a></li>
            <li>{{post.title}}</li>
          </ol>
        </div>

      </div>
    </section><!-- End Blog Section -->

    <!-- ======= Blog Single Section ======= -->
    <section id="blog" class="blog">
      <div class="container" data-aos="fade-up">

        <div class="row">

          <div class="col-lg-8 entries">

            <article class="entry entry-single">

              <div class="entry-img">
                <img src="{{post.image.url}}" alt="Moderna" class="img-fluid">
              </div>

              <h2 class="entry-title">
                <a href="{% url 'blog:single' pid=post.id %}">{{post.title}}</a>
              </h2>

              <div class="entry-meta">
                <ul>
                  <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a href="{% url 'blog:author' author_username=post.author.username %}">{{post.author}}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-folder"></i>
                    {% for cat in post.category.all %}
                      <a href="{% url 'blog:category' cat_name=cat.name %}">{{cat.name}}</a>{% if not forloop.last %} ,{% endif %}
                    {% endfor %}
                  </li>
                  <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#"><time datetime="2020-01-01">{{post.published_date|naturalday}}</time></a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-eye"></i> <a href="#">{{post.counted_views}}</a></li>
                  <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a href="#">{{comments.count}} Comments</a></li>
                </ul>
              </div>

              <div class="entry-content">
                <p>{{post.content}}</p>

                <blockquote>
                  <p>{{post.content}}</p>
                </blockquote>

                <h3>{{post.title}}</h3>
                <p>{{post.content}}</p>
                <img src="{% static 'img/blog/blog-inside-post.jpg' %}" class="img-fluid" alt="Moderna">

                <h3>{{post.title}}</h3>
                <p>{{post.content}}</p>

              </div>

              <div class="entry-footer">
                <i class="bi bi-folder"></i>
                <ul class="cats">
                  <li><a href="#">{{post.category}}</a></li>
                </ul>

                <i class="bi bi-tags"></i>
                <ul class="tags">
                  <li><a href="#">{{post.tags}}</a></li>
                </ul>
              </div>

            </article><!-- End blog entry -->

            <div class="blog-author d-flex align-items-center">
              <img src="{% static 'img/blog/blog-author.jpg' %}" class="rounded-circle float-left" alt="Moderna">
              <div>
                <h4>Jane Smith</h4>
                <div class="social-links">
                  <a href="https://twitters.com/#"><i class="bi bi-twitter"></i></a>
                  <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                  <a href="https://instagram.com/#"><i class="biu bi-instagram"></i></a>
                </div>
                <p>
                  Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
                </p>
              </div>
            </div><!-- End blog author bio -->

            <div class="blog-comments">

              <h4 class="comments-count">{{comments.count}} Comments</h4>
              {% for comment in comments %}

              <div id="comment-1" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><i class="bi bi-person-fill"></i></div>
                  <div>
                    <h5>{{ comment.name }}</h5>
                    <time datetime="2020-01-01">{{ comment.created_date|naturaltime }}</time>
                    <p>
                      {{ comment.message }}
                    </p>
                  </div>
                </div>
              </div>

              {% endfor %}

              <div class="reply-form">
                <h4>Leave a Reply</h4>
                <p>Your email address will not be published. Required fields are marked * </p>
                <form action="{% url 'blog:single' pid=post.id %}" method="post">
                  {% csrf_token %}
                  <div class="row">
                    <input type="hidden" name="post" value={{post.id}}>
                    <div class="col-md-6 form-group">
                      <input name="name" type="text" class="form-control" placeholder="Your Name*">
                    </div>
                    <div class="col-md-6 form-group">
                      <input name="email" type="text" class="form-control" placeholder="Your Email*">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <input name="subject" type="text" class="form-control" placeholder="Your Subject">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col form-group">
                      <textarea name="message" class="form-control" placeholder="Your Comment*"></textarea>
                    </div>
                  </div>
                  <button type="submit" class="btn btn-primary">Post Comment</button>

                </form>
                <br/>

                {% if messages %}
                  {% for message in messages %}
                    <div class="alert {% if message.tags %} alert-{{ message.tags }}{% endif %}">{{ message|safe }}</div>
                  {% endfor %}
                {% endif %}

              </div>

            </div><!-- End blog comments -->

          </div><!-- End blog entries list -->

          <div class="col-lg-4">

            <div class="sidebar">

              {% include 'blog/blog-search.html' %}

              {% categories %}

              {% latest_posts %}

              {% include 'blog/blog-tags.html' %}

            </div><!-- End sidebar -->

          </div><!-- End blog sidebar -->

        </div>

      </div>
    </section><!-- End Blog Single Section -->

  </main><!-- End #main -->

  {% endblock %}